*{box-sizing: border-box;}
body {padding: 0 0; margin: 0; font-family: "Inter" , sans-serif;}
h1 {font-size: 50px;}
h4 {font-size: 30px;}
article h4::after {display: block;width: 100px;height: 7px;background-color: #00cc60; margin-top: 3px;content: "";}

header {position: sticky; height: 100%; background-color: lightgray; top: 0; left: 0; display: flex; justify-content: space-between; flex-direction: row; align-items: flex-end;
        box-shadow: 0 0 10px 2px #aaa;padding-left: 20px;padding-right: 120px;z-index: 100;}
header nav ul {flex-direction: row; list-style: none; display: flex; gap: 20px; justify-content: right; align-items: center;}
header nav ul li a {text-decoration: none; color: rgb(66, 153, 156);}
.header1  {margin: 0;  padding: 0;}
.Filip {margin: 0; margin: 0; padding: 0; color: rgb(30, 199, 30);}
.stronag {color: #03fc77;}

header nav {display: block;}

footer{text-align: center;}

table {border: 1px #000000 solid}

td {border: 1px solid #000000; padding: 0%; } 
tr {border: #000000 1px solid;}

article  {display: flex; position: relative; padding: 150px 120px; flex-direction: row; align-items: center; justify-content: space-between; }
.article-element {width: 50%; }
.obrazek {margin: 0; display: flex; align-items: centers;}
section {display: block; padding-top: 0; padding-bottom: 0; padding-left: 120px; padding-right: 120px; font-size: 20px;}
.main-section{float:right; position: relative;width: 100%; text-align: left; }
.main-section::before {content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; margin: 0 auto; overflow: hidden;}
.przycisk {margin-left: 450px; margin-top: -100px; padding-top: -0px -100px;}
.aftermain{display: block; position: relative; }